name: Ubuntu VPS with Tailscale

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:

      - name: Install SSH
        run: |
          sudo apt update
          sudo apt install openssh-server -y
          sudo service ssh start

      - name: Create user
        run: |
          sudo useradd -m user
          echo "user:password123" | sudo chpasswd
          sudo adduser user sudo

      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh

      - name: Connect Tailscale
        run: |
          sudo tailscale up --authkey=${{ secrets.TS_AUTHKEY }}
          tailscale ip -4

      - name: Keep VPS Alive
        run: sleep 21600
