name: Ubuntu 20.04 VPS Root + Tailscale (Fixed)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    timeout-minutes: 360   # 6 jam maksimum GitHub

    steps:
      - name: Update System
        run: sudo apt update

      - name: Install SSH Server
        run: |
          sudo apt install -y openssh-server
          sudo systemctl enable ssh
          sudo systemctl start ssh

      - name: Enable Root Login + Set Password
        run: |
          echo "root:Meong123" | sudo chpasswd
          sudo sed -i 's/^#PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config
          sudo sed -i 's/^PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config
          sudo sed -i 's/^#PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
          sudo systemctl restart ssh

      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh
          sudo systemctl enable tailscaled
          sudo systemctl start tailscaled

      - name: Connect to Tailscale
        run: |
          sudo tailscale up --authkey=${{ secrets.TS_AUTHKEY }} --ssh
          sudo tailscale ip -4

      - name: Keep VPS Alive
        run: sleep 21600
