name: Ubuntu 20.04 VPS Root + Tailscale

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:

      - name: Install SSH
        run: |
          sudo apt update
          sudo apt install openssh-server -y
          sudo sed -i 's/#PermitRootLogin prohibit-password/PermitRootLogin yes/' /etc/ssh/sshd_config
          sudo sed -i 's/PermitRootLogin prohibit-password/PermitRootLogin yes/' /etc/ssh/sshd_config
          sudo service ssh restart

      - name: Set Root Password
        run: |
          echo "root:Meong123" | sudo chpasswd

      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh

      - name: Connect Tailscale
        run: |
          sudo tailscale up --authkey=${{ secrets.TS_AUTHKEY }}
          tailscale ip -4

      - name: Keep VPS Alive 6 Hours
        run: sleep 21600
